[submodule ".registry"]
	path = .registry
	url = https://github.com/colinpshea/colinpshea.r-universe.dev
	branch = HEAD
[submodule "GLAMMGoF"]
	path = GLAMMGoF
	url = https://github.com/colinpshea/GLAMMGoF
